<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deloladrin.cows">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/icon_app"
        android:roundIcon="@mipmap/icon_app_round"
        android:theme="@style/Cows.Dark"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".activities.main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.company.CompanyActivity" />
        <activity android:name=".activities.company.CompanyCowActivity" />
        <activity android:name=".activities.cow.CowActivity" />

    </application>

</manifest>